<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {background: #f2f2f2; color: #414141;}
        .blog {width: 960px; margin : 50px auto 0; border: 1px solid #ccc; background: #fff;
        padding: 20px;}

        .blog h1 {text-align: center; padding-bottom: 20px; border-bottom: 1px solid #ccc;}
        .blog li {border-bottom: 1px dotted #ddd;}
        .page {text-align: center;}
    </style>
</head>
<body>
    <div class="blog">
        <h1>博客列表<small><script>document.write(new Date().toLocaleString())</script></small></h1>
        <ul>
            <% for (var i = 0; i < data.length; i++) { %>
            <li>
                <h2><a href=""><%= data[i].title  %></a></h2>
                <p><%= data[i].time  %></p>
                <p><%= data[i].summary  %></p>
            </li>
            <% } %>
        </ul>

        <p class="page">
            总共有 <%= total %> 条记录，每页显示  <%= pagesize %> 条，
            当前是  <%= page %>/ <%= pagenum %> 页
            <% if (page == 1) { %>
                上一页
            <%  } else { %>
                <a href="/?page=<%= page - 1 %>">上一页</a>
            <% } %>

            <% if (page == pagenum) { %>
                下一页
            <%  } else { %>
                <a href="/?page=<%= +page + 1 %>">下一页</a>
            <% } %>
        </p>
    </div>

</body>
</html>
